table {
  width: 100%;
}

.table-responsive {
  overflow-x: auto;
  max-width: 100%;
}

table {
  width: 100%;
}

table {
  border-spacing: 0;
  border-radius: 0.5rem;
  overflow: hidden;
}

table tfoot th,
table tbody th,
table thead th {
  color: rgba(107, 114, 128, 1);
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 0.75rem 0.5rem;
}

table thead th span {
  color: rgba(107, 114, 128, 1);
}

table tbody tr td {
  padding: 0.75rem 0.5rem;
  font-size: 0.8rem;
  border-top: 1px solid var(--border-color);
  position: relative;
  z-index: 25;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

table.bordered {
  border-collapse: collapse;
}

table.bordered tbody td,
table.bordered tfoot th,
table.bordered tbody th,
table.bordered thead th {
  border: 1px solid var(--border-color);
}

table.data-table {
  border-spacing: 0;
  border-radius: 0.5rem;
  overflow: hidden;
}

table.data-table tfoot,
table.data-table thead {
  background: rgba(249, 250, 251, 1);
}

table.data-table tfoot th,
table.data-table thead th {
  padding: 0.75rem 1.25rem;
  color: rgba(107, 114, 128, 1);
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: uppercase;
}

table.data-table tbody tr td {
  padding: 0.75rem 1rem;
  font-size: 0.85rem;
}
